.header__block {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.54))), no-repeat center/cover url("../../Source/Backgrounds/Rectangle 29.png");
  background: linear-gradient(rgba(0, 0, 0, 0.54)), no-repeat center/cover url("../../Source/Backgrounds/Rectangle 29.png");
}

.header__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 888px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

.header__title {
  font-size: 50px;
  color: #fff;
  margin: 235px 0 16px;
}

.header__text {
  color: #fff;
  margin-bottom: 40px;
}

.header__btn {
  background: #DB4E66;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -webkit-box-shadow: 2px 4px 9px #F337576B;
          box-shadow: 2px 4px 9px #F337576B;
  margin-bottom: 73px;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-bottom: 40px;
}

.header__inst {
  margin-right: 25px;
}

.header__whatsapp {
  margin-right: 25px;
}

.header__viber {
  margin-right: 25px;
}

.btn {
  color: #fff;
  padding: 18px 92px;
  cursor: pointer;
  width: auto;
  border-radius: 14px;
}

@media (max-width: 767px) {
  .header__block {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.54))), no-repeat center/cover url("../../Source/Backgrounds/Rectangle 29min.png");
    background: linear-gradient(rgba(0, 0, 0, 0.54)), no-repeat center/cover url("../../Source/Backgrounds/Rectangle 29min.png");
  }
  .header__col {
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__text {
    font-size: 24px;
  }
  .header__social {
    display: none;
  }
  .header__btn {
    margin-bottom: 250px;
  }
}

@media (max-width: 640px) {
  .header__title {
    font-size: 40px;
  }
  .header__text {
    font-size: 20px;
  }
  .btn {
    padding: 15px 73px;
  }
}

@media (max-width: 425px) {
  .header__block {
    background-size: 578px;
  }
  .header__btn {
    margin-bottom: 96px;
  }
  .header__title {
    font-size: 36px;
  }
  .header__text {
    font-size: 16px;
  }
}

@media (max-width: 365px) {
  .header__title {
    margin-top: 200px;
  }
  .header__btn {
    margin-bottom: 60px;
    padding: 15px 50px;
  }
}
