main {
  background: #FAFAF9;
}

.nav__sublist {
  margin-top: 10px;
}

.actions {
  border: 1px solid #A5AAAF;
  padding-bottom: 87px;
  margin-bottom: 120px;
}

.actions__title {
  font-size: 44px;
  margin: 80px 0;
}

.actions__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.actions__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10%;
}

.actions__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.actions__src input {
  width: 465px;
  height: 45px;
  border-radius: 26px;
  padding-left: 17px;
  border: 1px solid #CED0D2;
  background: no-repeat 95% url("../Source/Logos, Icons/Vector.png");
}

.actions__filter {
  width: 265px;
  height: 47px;
  border-radius: 26px;
  border: 1px solid #CED0D2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.actions__filter select {
  margin: 0 0 0 15px;
  width: 90%;
  cursor: pointer;
  font-size: 16px;
  color: #DB4E66;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: no-repeat 215px url("../Source/Logos, Icons/Vector 26vertical.png");
}

.actions__filter select option[selected] {
  color: #000;
}

.actions__subtitle {
  color: #A5AAAF;
  font-size: 30px;
  margin: 64px 0 40px;
}

.actions__subrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.actions__action {
  margin: 0 0 33px 0;
}

.actions__btn {
  color: #DB4E66;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 37px;
  cursor: pointer;
}

.filter__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 240px;
}

.filter__title {
  color: #A5AAAF;
  margin-bottom: 40px;
  font-size: 24px;
}

.filter__form {
  font-size: 16px;
}

.filter__form input {
  margin: 8px 8px 0 0;
}

.filter__category {
  font-size: 18px;
  font-weight: bold;
}

.filter__category::after {
  content: '';
  display: block;
  height: 1px;
  min-width: 100px;
  border: 1px solid #CED0D2;
  margin: 7px 0 15px 0;
}

.action {
  border-radius: 14px;
  border: 1px solid #CED0D2;
  width: 365px;
  padding: 22px 20px 37px;
  background: #fff;
}

.action__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.action__img {
  min-width: 118px;
  margin: 0 16px 0 0;
}

.action__img img {
  width: 100%;
}

.action__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.action__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin: -3px 0 15px;
}

.action__date {
  font-size: 16px;
  color: #A5AAAF;
}

.action__text {
  font-size: 18px;
}

.action__text p:last-child {
  margin: 30px 0 16px;
}

.action__text span {
  font-weight: bold;
  text-decoration: underline;
}

.action__tags {
  color: #A5AAAF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.action__tags p {
  font-size: 16px;
  margin-right: 10px;
  height: 15px;
}

.action__tags p:last-child {
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .actions__src input {
    width: 365px;
  }
  .actions__filter {
    width: 230px;
  }
  .actions__filter select {
    background-position: 178px 18px;
  }
  .action {
    width: 310px;
  }
}

@media (max-width: 992px) {
  .actions__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 150%;
    margin: 0 0 0 -51.9%;
  }
  .actions__src input {
    width: 100%;
    height: 66px;
    border-radius: 34px;
  }
  .actions__filter {
    width: 265px;
    height: 66px;
    border-radius: 34px;
    margin: 20px 0 0 0;
  }
  .actions__filter select {
    background-position: 200px 25px;
    background-size: 17px;
  }
  .actions__column {
    margin-left: 8%;
  }
  .filter__column {
    min-width: 200px;
    margin-top: 220px;
  }
  .action {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .actions {
    border: unset;
  }
  .actions__nav {
    width: 149%;
    margin: 0 0 0 -49%;
  }
  .filter__column {
    min-width: 150px;
  }
}

@media (max-width: 640px) {
  .actions__title {
    font-size: 33px;
    margin: 55px 0 35px;
  }
  .actions__nav {
    width: 109%;
    margin: 0 0 0 -9%;
  }
  .actions__subtitle {
    font-size: 28px;
  }
  .actions__filter {
    margin: 20px 0 280px 0;
    font-size: 16px;
  }
  .actions__column {
    margin-left: 8%;
  }
  .filter__column {
    position: absolute;
    top: 370px;
    padding: 18px 38% 50px 24px;
    -webkit-box-shadow: 0px 4px 9px #D3D3D3;
            box-shadow: 0px 4px 9px #D3D3D3;
    border-radius: 21px;
    max-width: 80%;
    background: no-repeat 90% 10.5% url("../Source/Logos, Icons/Vector 26vertical.png");
  }
  .filter__title {
    color: #DB4E66;
    text-transform: uppercase;
    width: 185%;
    cursor: pointer;
    padding: 10px 0;
  }
  .filter__form {
    min-width: 175%;
  }
  .action__text {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .actions__nav {
    max-width: 100%;
  }
  .actions__title {
    font-size: 28px;
  }
  .actions__filter select {
    font-size: 14px;
  }
  .actions__subtitle {
    font-size: 24px;
  }
  .actions__column {
    margin: 0;
  }
  .filter__title {
    font-size: 14px;
  }
  .filter__category {
    font-size: 16px;
  }
  .action__img {
    min-width: 92px;
  }
  .action__title {
    font-size: 20px;
  }
}
