main {
  background: #FAFAF9;
  overflow: hidden;
}

.nav__sublist {
  margin-top: 10px;
}

.cards {
  border: 1px solid #A5AAAF;
  padding-bottom: 87px;
  margin-bottom: 120px;
  width: 101%;
}

.cards__title {
  font-size: 44px;
  margin: 80px 0;
  font-weight: 500;
}

.cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10%;
}

.cards__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards__src input {
  width: 465px;
  height: 45px;
  border-radius: 26px;
  padding-left: 17px;
  border: 1px solid #CED0D2;
  background: no-repeat 95% url("../Source/Logos, Icons/Vector.png");
}

.cards__filter {
  width: 265px;
  height: 47px;
  border-radius: 26px;
  border: 1px solid #CED0D2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards__filter select {
  margin: 0 0 0 15px;
  width: 90%;
  cursor: pointer;
  font-size: 16px;
  color: #DB4E66;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: no-repeat 215px url("../Source/Logos, Icons/Vector 26vertical.png");
}

.cards__filter select option[selected] {
  color: #000;
}

.cards__block {
  padding-top: 64px;
}

.cards__subtitle {
  color: #A5AAAF;
  font-size: 30px;
  margin: 0 0 40px;
}

.cards__subrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cards__card {
  margin: 0 0 33px 0;
}

.cards__btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin: 16px auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  cursor: pointer;
  background: #F2B236;
  border-radius: 10px;
  padding: 13px 20px 10px;
  -webkit-box-shadow: 0px 3px 7px 0px #FFE9BF;
          box-shadow: 0px 3px 7px 0px #FFE9BF;
}

.cards__btn_thin {
  color: #DB4E66;
  font-size: 16px;
  font-weight: bold;
  margin: 37px auto 0;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.filter__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter__clear {
  color: #5B636B;
  font-size: 16px;
}

.filter__clear:hover {
  cursor: pointer;
}

.filter__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 240px;
}

.filter__title {
  color: #A5AAAF;
  margin-bottom: 40px;
  font-size: 24px;
}

.filter__form {
  font-size: 16px;
}

.filter__form input {
  margin: 8px 8px 0 0;
}

.filter__form input[type='range'] {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 210px;
  height: 0;
  border: 2px solid #F2B236;
}

.filter__form input[type='range']::-webkit-slider-thumb {
  pointer-events: all;
  z-index: 10;
  position: relative;
  -webkit-appearance: none;
          appearance: none;
  width: 14px;
  height: 14px;
  background: #fff;
  border: 3px solid #F2B236;
  border-radius: 50%;
}

.filter__form input[type='range']::-moz-range-thumb {
  pointer-events: all;
  z-index: 10;
  -moz-appearance: none;
       appearance: none;
  width: 14px;
  height: 14px;
  background: #fff;
  border: 3px solid #F2B236;
  border-radius: 50%;
}

.filter__form input[type='range']::-ms-thumb {
  pointer-events: all;
  z-index: 10;
  appearance: none;
  width: 14px;
  height: 14px;
  background: #fff;
  border: 3px solid #F2B236;
  border-radius: 50%;
}

.filter__class {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
}

.filter__class:nth-child(3), .filter__class:nth-child(5) {
  margin-top: 50px;
}

.filter__class::after {
  content: '';
  display: block;
  height: 1px;
  min-width: 100px;
  border: 1px solid #CED0D2;
  margin: 7px 0 15px 0;
}

.fromto__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10px;
}

.fromto__row span {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: 29px;
  right: 5px;
}

.fromto__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fromto__col input {
  width: 69px;
  height: 32px;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid #A5AAAF;
}

.card {
  border-radius: 14px;
  border: 1px solid #CED0D2;
  width: 365px;
  padding: 22px 20px 37px;
  background: #fff;
}

.card_slim {
  width: 265px;
  border: 1px solid #CED0D2;
  border-radius: 14px;
  padding: 22px 11px 30px 19px;
  background: #fff;
  margin-bottom: 30px;
}

.card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__age {
  font-size: 16px;
  float: right;
  color: #fff;
  border-radius: 6px;
  padding: 10px 15px;
  background: #90C1BF;
  margin-bottom: -200px;
}

.card__media {
  background: no-repeat url("../Source/Images/Rectangle 65.png");
  width: 229px;
  height: 229px;
  margin: 0 auto;
}

.card__img {
  min-width: 118px;
  margin: 0 16px 0 0;
  margin-bottom: 24px;
}

.card__img img {
  width: 100%;
}

.card__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin: -3px 0 15px;
}

.card__title_slim {
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  margin: -3px 0 15px;
}

.card__date {
  font-size: 16px;
  color: #A5AAAF;
}

.card__text {
  font-size: 18px;
}

.card__text p:last-child {
  margin: 30px 0 16px;
}

.card__text span {
  font-weight: bold;
  text-decoration: underline;
}

.card__list {
  font-size: 16px;
  color: #5B636B;
  margin: 16px 0;
}

.card__list li {
  line-height: 25.6px;
  padding-left: 25px;
}

.card__list #time {
  background: no-repeat 0px 4px url("../Source/Logos, Icons/uil_hourglass.png");
}

.card__list #players {
  background: no-repeat 0px 4px url("../Source/Logos, Icons/uil_grin.png");
}

.card__list #prep {
  background: no-repeat 0px 4px url("../Source/Logos, Icons/uil_history.png");
}

.card__list #place {
  background: no-repeat 0px 4px url("../Source/Logos, Icons/uil_basketball.png");
}

.card__list #diff {
  background: no-repeat 0px 4px url("../Source/Logos, Icons/uil_brain.png");
}

.card__tags {
  color: #A5AAAF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__tags p {
  font-size: 16px;
  margin-right: 10px;
  height: 15px;
}

.card__tags p:last-child {
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}

.card__price {
  color: #DB4E66;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__btn {
  margin-top: 0;
}

@media (max-width: 1200px) {
  .cards__src input {
    width: 365px;
  }
  .cards__filter {
    width: 230px;
  }
  .cards__filter select {
    background-position: 178px 18px;
  }
  .card {
    width: 310px;
  }
}

@media (max-width: 992px) {
  .cards__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 150%;
    margin: 0 0 0 -51.9%;
  }
  .cards__src input {
    width: 100%;
    height: 66px;
    border-radius: 34px;
  }
  .cards__filter {
    width: 265px;
    height: 66px;
    border-radius: 34px;
    margin: 20px 0 0 0;
  }
  .cards__filter select {
    background-position: 200px 25px;
    background-size: 17px;
  }
  .cards__column {
    margin-left: 8%;
  }
  .filter__column {
    min-width: 200px;
    margin-top: 220px;
  }
  .filter__form input[type='range'] {
    width: 180px;
  }
  .card {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .cards {
    border: unset;
  }
  .cards__nav {
    width: 149%;
    margin: 0 0 0 -49%;
  }
  .cards__column {
    margin-left: 10vw;
  }
  .cards__subrow {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .filter__column {
    min-width: 178px;
  }
  .filter__form input[type='range'] {
    width: 160px;
  }
}

@media (max-width: 640px) {
  .cards__title {
    font-size: 33px;
    margin: 55px 0 35px;
  }
  .cards__nav {
    width: 109%;
    margin: 0 0 0 -9%;
  }
  .cards__subtitle {
    font-size: 28px;
  }
  .cards__filter {
    margin: 20px 0 280px 0;
    font-size: 16px;
  }
  .cards__column {
    margin-left: 8%;
    width: 100%;
  }
  .cards__block {
    -webkit-transition: margin 2s;
    transition: margin 2s;
  }
  .filter__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .filter__column {
    position: absolute;
    top: 370px;
    padding: 18px 24px 50px 24px;
    width: 80%;
    -webkit-box-shadow: 0px 4px 9px #D3D3D3;
            box-shadow: 0px 4px 9px #D3D3D3;
    border-radius: 21px;
    height: 80px;
    overflow: hidden;
    -webkit-transition: height 2s;
    transition: height 2s;
  }
  .filter__title {
    color: #DB4E66;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    padding: 10px 0;
    background: no-repeat 90% 50% url("../Source/Logos, Icons/Vector 26vertical.png");
  }
  .filter__form input[type='range'] {
    width: 83%;
  }
  .card__text {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .cards__nav {
    max-width: 100%;
  }
  .cards__title {
    font-size: 28px;
  }
  .cards__filter select {
    font-size: 14px;
  }
  .cards__subtitle {
    font-size: 24px;
  }
  .cards__column {
    margin: 0;
  }
  .filter__title {
    font-size: 14px;
  }
  .filter__category {
    font-size: 16px;
  }
  .card__img {
    min-width: 92px;
  }
  .card__title {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .filter__form input[type='range'] {
    width: 78%;
  }
}
